@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
    background-color: url('./assets/fa-solid-900.svg');
}

.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar{
    position: sticky;
    height: 5em;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    box-shadow: 3px 3px 5px 6px rgb(223, 223, 223);;
   
}

.navbar .content{
    
    display: flex;
    align-items:center;
    justify-content: space-between;
}

/* .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
} */

.navbar .menu-list {
    display: inline-flex;
    margin-left: 100px;
}



.menu-list li{
    list-style: none;
}
.menu-list li a {
    color: rgb(153, 151, 151);
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
/* .menu-list li a:hover{
    color: cyan;
} */

.menu-list li .button {
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c0358b, #ff4866);

    /* background: rgb(115,7,55); */
    /* background: linear-gradient(90deg, rgba(160,36,91,1) 4%, rgba(207,70,116,1) 43%, rgba(201,85,85,1) 100%, rgba(168,54,54,1) 100%); */
    /* background-color: #ddd; */
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 500px;
  }

.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}


/* Section-1 */

.section-1{
    margin-top: 110px;
    max-height: 100vh;
}

.section-1 .content-col-1 h1{
    font-family: "Varela Round"; 
    font-size: 28px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    padding-inline: 10px;
    color:rgb(82, 82, 82);
    /* line-height: 26.4px; */
}
.section-1 .content-col-1 .para-1{
    margin-top: 2em;
    font-family: "Poppins"; 
    font-weight: 500;
    font-style: normal; 
    font-variant: normal; 
    padding-left: 10px;
    color:rgb(114, 114, 114);
    text-align:justify;
}

.section-1 .content-col-1 .button{
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c0358b, #ff4866);
    /* background: linear-gradient(90deg, rgba(160,36,91,1) 4%, rgba(207,70,116,1) 43%, rgba(201,85,85,1) 100%, rgba(168,54,54,1) 100%); */
    /* background-color: #ddd; */
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left:10px;
    margin-top: 75px;
    cursor: pointer;
    border-radius: 500px;
}

.section-1 .content-col-1 .para-2{
    margin-top: 1em;
    font-size: smaller;
    font-family: "Varela Round"; 
    font-weight: 600;
    font-style: normal; 
    font-variant: normal; 
    padding-left: 10px;
    color:rgb(122, 122, 122);
    text-align:justify;
}

/* section-2 */
.section-2{
    margin-top: 60px;
    max-height: 100vh;
}

.section-2 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}

.section-2 .row-1 .heading-1{
    font-family: "Varela Round";
    font-size: 26px;
    font-weight: 600;
    color:rgb(82, 82, 82);
}

.section-2 .row-1 .para-1{
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
}
.section-2 .row-2{
    margin-top: 3em;
}
.section-2 .row-2 .col h6{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 14px;
}
.section-2 .row-2 .col p{
    font-size: 12px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
}


/* section-3 */
.section-3{
    margin-top: 200px;
    max-height: 100vh;
}
.section-3 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}
.section-3 .row-1 .heading-1{
    font-family: "Varela Round";
    font-size: 30px;
    font-weight: 600;
    color:rgb(82, 82, 82);
}

.section-3 .row-1 .para-1{
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
}
.section-3 .row-2 .card{
    margin-top: 5em;
    background: rgba(228, 238, 243, 0.425);
}

.section-3 .row-2 h6{
    display: inline;
    text-align: right;
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 14px;
}

.section-3 .row-2 p{
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    font-size: 12px;
}

/* section-4 */
.section-4{
    margin-top: 200px;
    max-height: 100vh;
}

.section-4 .content-col-1 h4{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 16px;
    margin-bottom: 2em;
}
.section-4 .content-col-1 .para-1{
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    font-size: 12px;
}

.section-4 .content-col-1 .para-1 span{
    font-weight: bold;
}

/* section-5 */
.section-5{
    margin-top: 200px;
    max-height: 100vh;
    margin-bottom: 100px;
}
.section-5 .content-col-1{
    margin-left: 2em;
}

.section-5 .content-col-1 h4{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 16px;
    margin-bottom: 2em;
}
.section-5 .content-col-1 .para-1{
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    font-size: 12px;
}

.section-5 .content-col-1 .para-1 span{
    font-weight: bold;
}

/* section-6 */
.section-6{
    margin-top: 200px;
    max-height: 100vh;
    margin-bottom: 100px;
}

.section-6 .content-col-1 h4{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 16px;
    margin-bottom: 2em;
}
.section-6 .content-col-1 .para-1{
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    font-size: 12px;
}

.section-6 .content-col-1 .para-1 span{
    font-weight: bold;
}


/* section-7 */
.section-7{
    margin-top: 200px;
    max-height: 100vh;
    margin-bottom: 100px;
}

.section-7 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}

.section-7 .row-1 .heading-1{
    margin-left: 80px;
    justify-content:center;
    font-family: "Varela Round";
    font-size: 26px;
    font-weight: 600;
    color:rgb(82, 82, 82);
    text-align: center;
}

.section-7 .row-1 .para-1{
    margin-left: 90px;
    justify-content:center;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
}
.section-7 .row-2{
    margin-top: 3em;
}
.section-7 .row-2 .col h6{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 14px;
}
.section-7 .row-2 .col p{
    font-size: 12px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
}

/* section-8 */
.section-8{
    margin-top: 300px;
    max-height: 100vh;
    margin-bottom: 100px;
}
.section-8 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}

.section-8 .row-1 .heading-1{
    margin-left: 80px;
    justify-content:center;
    font-family: "Varela Round";
    font-size: 28px;
    font-weight: 600;
    color:rgb(82, 82, 82);
    text-align: center;
}

.section-8 .row-1 .para-1{
    margin-left: 30px;
    justify-content:center;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
}

.section-8 .row-2{
    margin-top: 2em;
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}

.section-8 .row-2 .col-3 .button{
    background: rgba(228, 238, 243, 0.425);
    /* background-color: #ddd; */
    border: none;
    color: rgb(82, 82, 82);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left:10px;
    margin-top: 75px;
    cursor: pointer;
    border-radius: 500px;
    text-align: center;
    font-family: "Varela Round";
    font-weight: 600;
    font-size: 14px;
}

.section-8 .row-3{
    margin-top: 2em;
    background: rgba(249, 246, 252, 0.767);
}

.section-8 .row-3 img{
    margin-top: 0em;
    height: 200px;
    width: 1000px;
}


/* section-9 */
.section-9{
    margin-top: 200px;
    max-height: 100vh;
    margin-bottom: 100px;
}

.section-9 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}

.section-9 .row-1 .heading-1{
    margin-left: 80px;
    justify-content:center;
    font-family: "Varela Round";
    font-size: 26px;
    font-weight: 600;
    color:rgb(82, 82, 82);
    text-align: center;
}

.section-9 .row-1 .para-1{
    margin-left: 90px;
    justify-content:center;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
}
.section-9 .row-2{
    margin-top: 3em;
}
.section-9 .row-2 .col h6{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 14px;
}
.section-9 .row-2 .col p{
    font-size: 12px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
}
.section-9 .row-3{
    margin-top: 3em;
}

.section-9 .row-3 .col-2 button.button {
    border-radius: 100rem;
    font-family: "Varela Round";
    font-weight: 600;
    font-size: 14px;
    font-size: 1rem;
    padding: 7px 32px;
    /* color: $color-black; */
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c0358b, #ff4866);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;    

}

.section-9 .row-3 .col-2 .gradient-text {
    color: #c03558c9;
}
/* end of section-9 */


/* section-10 */

.section-10{
    margin-top: 200px;
    max-height: 100vh;
    margin-bottom: 100px;
}

.section-10 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
}

.section-10 .row-1 .heading-1{
    margin-left: 80px;
    justify-content:center;
    font-family: "Varela Round";
    font-size: 26px;
    font-weight: 600;
    color:rgb(82, 82, 82);
    text-align: center;
}

/* .section-10 .row-1 .para-1{
    margin-left: 90px;
    justify-content:center;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
} */

.section-10 .row-2{
    margin-top: 5em;
}

.section-10 .row-2 .col-4{
    position: relative;
}
.section-10 .row-2 .col-4 .card-img-top{
    position: absolute;
    top: -25px;
    left: 0px;
    width: 50px;
    z-index: 5;
}
.section-10 .row-2 .col-4 .card-text{
    padding-left: 3em;
    margin-top: 3em;
    font-size: 14px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
}

.section-10 .row-2 .col-4 .card .button{
    background: rgba(228, 238, 243, 0.425);
    /* background-color: #ddd; */
    width:fit-content;
    border: none;
    color: rgb(82, 82, 82);
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left:3em;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 500px;
    text-align: start;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 12px;
}

.section-10 .row-3{
    margin-top: 3em;
}

.section-10 .row-3 .col img{
    width:150px;
    padding-inline: 30px;
}

/* end of section-10 */

/* section-11 */

.section-11{
    background-color: rgba(212, 231, 255, 0.247);
    margin-top: 200px;
    max-height: 200vh;
    /* margin-bottom: 10px; */
    padding-top: 100px;
}

.section-11 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
    margin-bottom: 50px;
}

.section-11 .row-1 .heading-1{
    margin-left: 80px;
    justify-content:center;
    font-family: "Varela Round";
    font-size: 26px;
    font-weight: 600;
    color:rgb(82, 82, 82);
    text-align: center;
}

.section-11 .row-2 .col-auto{
    margin-left: 20px;
    background: #fff;
    border-radius: 10px;
    padding-top: 1.5em;
    width: 500px;
}


.section-11 .row-2 .col-auto .iconDetails {
    margin-left:2%;
   float:left; 
   height:40px;
   width:40px;	
   } 
.section-11 .row-2 .col-auto .col-auto-content{
    margin-left:80px;
}

.section-11 .row-2 .col-auto .col-auto-content h6{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 0em;
    font-size: 16px;
}

.section-11 .row-2 .col-auto .col-auto-text{
    float:left;
    font-size: 14px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
    margin-bottom: 5em;
}

                    /* row-3 */
.section-11 .row-3 {
    margin-top: 2em;
    margin-bottom: 6em;
}

.section-11 .row-3 .col-auto{
    margin-left: 20px;
    background: #fff;
    border-radius: 10px;
    padding-top: 1.5em;
    width: 500px;
}


.section-11 .row-3 .col-auto .iconDetails {
    margin-left:2%;
    float:left; 
    height:40px;
    width:40px;	
    } 
.section-11 .row-3 .col-auto .col-auto-content{
    margin-left:80px;
}

.section-11 .row-3 .col-auto .col-auto-content h6{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 0em;
    font-size: 16px;
}

.section-11 .row-3 .col-auto .col-auto-text{
    float:left;
    font-size: 14px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
    margin-bottom: 5em;
}



/* end of section-11 */


/* section-12 */

.section-12{
    background-color: rgba(247, 249, 252, 0.247);
    margin-top: 2em;
    max-height: 120vh;
    margin-bottom: 100px;
    padding-top: 100px;
}

.section-12 .row-1{
    justify-content:center;
    text-align: center;
    padding: 0px 60px;
    margin-bottom: 50px;
}

.section-12 .row-1 .heading-1{
    margin-left: 10px;
    justify-content:center;
    font-family: "Varela Round";
    font-size: 26px;
    font-weight: 600;
    color:rgb(82, 82, 82);
    text-align: center;
}

.section-12 .row-2 .col-6 .button{
        background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c0358b, #ff4866);
        /* background: linear-gradient(90deg, rgba(160,36,91,1) 4%, rgba(207,70,116,1) 43%, rgba(201,85,85,1) 100%, rgba(168,54,54,1) 100%); */
        /* background-color: #ddd; */
        border: none;
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left:200px;
        margin-top: 75px;
        cursor: pointer;
        border-radius: 500px;
        
}

.section-12 .row-2 .col-6 .para-1{
    margin-top: 1em;
    margin-left:150px;
    font-family: "Varela Round"; 
    font-weight: 600;
    font-style: normal; 
    font-size: 12px;
    /* font-variant: normal;  */
    width: 600px;
    padding: 0 0px;
    color:rgb(122, 122, 122);
    text-align:start;
}

.section-12 .site-container{
    overflow: hidden;
}

.section-12 .row-3 img {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 103%;
    width: auto;
}

.section-12 .row-4{
    background-color: rgba(210, 216, 223, 0.247);
}

.section-12 .row-4 .col h6{
    font-family: "Varela Round";
    font-weight: 600;
    color:rgb(82, 82, 82);
    margin-top: 2em;
    font-size: 14px;
}
.section-12 .row-4 .col p{
    font-size: 12px;
    color:rgb(122, 122, 122);
    font-family: "Poppins"; 
    font-weight: 500;
    text-align: start;
}

.section-12 .row-4 .boxes{
    display: flex;
    justify-content: space-between;
}

.section-12 .row-4 .box {
    float: left;
    height: 10px;
    width: 10px;
    margin-bottom: 15px;
    border: 1.5px solid rgba(121, 121, 121, 0.76);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    background: rgba(218, 218, 218, 0.384);
    /* clear: both; */
}

.section-12 .row-4 .grey-1,
.section-12 .row-4 .grey-2,
.section-12 .row-4 .grey-3
{
    margin-right: 30px;

}
/* end of section-12 */


/* footer */

footer{
    margin: 2px 0px;
}
footer .text-center{
    padding-top: 1em;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.993);
    height: 70px;
    color: rgba(218, 218, 218, 0.384);
    font-size: 14px;
    z-index: -1;
}

footer .text-center img{
    margin-top: -.2em;
    margin-right: .5em;
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* z-index:-1; */
}

footer .text-center .dot {
    height: 12px;
    width: 12px;
    background-color: rgb(118, 223, 108);
    border-radius: 50%;
    /* margin-right: 100px; */
    /* z-index: 5;
    float: right; */
    z-index: 3;
    position: absolute;
    right: 14px;
}